<footer>
    <div class="container center-align">
        <p>Updated at {{build_time.strftime('%c')}}<p>
        <a href='https://git.scgodbold.com/scott/landing-page'>View Sites Source</a>
    </div>
</footer>
