<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block css %}
        {% endblock %}

       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap" rel="stylesheet">

        <title>{% block title %}Scott Godbold{% endblock %}</title>
    </head>

    <body>
        {% include 'partials/nav.html' %}

        <main>
        <div class='container main'>
            {% block content %}
            {% endblock %}
        </div>
        </main>

        {% include 'partials/footer.html' %}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
