{% extends "layouts/base.html" %}

{% block content %}
<div class='container'>
    <div class='valign-wrapper'>
        <img class='circle responsive-img center' src='{{url_for('static', filename='img/logo.png')}}'><br/>
    </div>
    <div class='container center-align'>
        <h4>Scott Godbold</h4>
    </div>
    <div class='container center-align'>
        <p>Site Reliability Engineer, Automation Enthusiast, Self Hoster</p>
        <p>
        |
        &nbsp;<a href='https://gitlab.com/scgodbold'>Code</a>&nbsp;|
        &nbsp;<a href='/resume/'>Resume</a>&nbsp;|
        &nbsp;<a href='mailto:hi@scgodbold.com'>Contact Me</a>&nbsp;|
    </div>
</div>
{% endblock %}
