{% extends "layouts/base.html" %}

{% block title %}
Scott Godbold // Resume
{% endblock %}

{% block content %}
<div class='resume'>
{% for page in pages | sort(attribute='startDate', reverse=True)%}
<div class='row'>
    <div class='col s12'>
        <h4>{{page.jobTitle}}</h4>
    </div>
    <div class='col s12 m6'>
        <h5><strong>{{page.title}}</strong></h5>
    </div>
    <div class='col s12 m6'>
        {% if page.endDate %}
        {% set endDate=page.endDate.strftime('%B %Y') %}
        {% endif %}
        <h5><strong>{{page.meta.startDate.strftime('%B %Y')}} to {{endDate|default("Present")}}</strong></h5>
    </div>
</div>
<div class='container'>
{{page.html | safe}}
</div>
<div class='container'>
    <h6>Technologies Used</h6>
    <p>{% for tech in page.technologies %}
    {{tech}}{% if not loop.last %} |{% endif %}
    {% endfor %}</p>
</div>
<hr/>
{% endfor %}
</div>
{% endblock %}
