/* * body,footer,header, nav { */
/*     background-color: #2b303a; */
/*     color: #edf2ef; */
/*     font-family: 'Montserrat', sans-serif; */
/*     box-shadow: none; */
/* } */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    /* light */
    --text-color: #2b303a;
    --bkg-color: #edf2ef;
    --accent-color: #048a81;
    --accent-color-2: #615cff;
}
body.dark-theme {
    /* dark */
    --bkg-color: #2b303a;
    --text-color: #edf2ef;
    --accent-color: #f39a9d;
    --accent-color-2: #8885ff;
}

@media screen and (prefers-color-scheme: dark) {
    body {
    /* dark */
        --bkg-color: #2b303a;
        --text-color: #edf2ef;
        --accent-color: #508ca4;
        --accent-color: #f39a9d;
        --accent-color-2: #8885ff;
    }
    body.light-theme {
        /* light */
        --text-color: #2b303a;
        --bkg-color: #edf2ef;
        --accent-color: #048a81;
        --accent-color-2: #615cff;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
}

body,nav {
    background-color: var(--bkg-color);
    color: var(--text-color);
}

nav {
    box-shadow: none;
}

nav a {
    color: var(--accent-color);
}

a {
    color: var(--accent-color);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resume h6 {
    color: var(--accent-color);
}

.resume h5 {
    color: var(--accent-color-2);
}
